---
layout: workshop
root: .
venue: University of Nebraska - Lincoln, Avery Hall room 119
address: University of Nebraska, Lincoln, NE
country: United States
humandate: Jan. 6-8, 2016
humantime: 8:30 am - 4:30 pm
startdate: JAN-06-2016 
enddate: JAN-08-2016
latlng: 40.821798, -96.688613
registration: http://marketplace.unl.edu/hcc/open-science-grid-software-carpentry-workshop.html
instructor: ["Emelie Harstad, Derek Weitzel, Mats Rynge, Suchandra Thapa"]
helper: ["Huijun Zhu, Adam Caprez, Natasha Pavlovikj, David Swanson"]
contact: eharstad@unl.edu
etherpad: https://public.etherpad-mozilla.org/p/2016-01-06-UNL
---
    


<!--
    Edit the values in the parameter block above to be appropriate for your bootcamp.
-->

<!--
    This block includes the Eventbrite registration widget if 'eventbrite' has been set in the header.
-->
{% if page.eventbrite %}
<iframe src="//www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt" frameborder="0" width="100%" scrolling="auto"></iframe>
{% endif %}

<h2>General Information</h2>

<p>
  The <a href="http://www.opensciencegrid.org">Open Science Grid</a> (OSG) is a national scale distributed 
  infrastructure for scientific computing.  Users affiliated with the University of Nebraska can use <a href="http://hcc.unl.edu">the Holland Computing Center (HCC) </a>
  to easily gain access to the resources that OSG provides. The OSG also offers training and tutorials for the 
  scientists and researchers across USA. As part of our training service we are offering an extended Software Carpentry workshop 
which augments instruction on basic Linux tools and programming with 
tutorials on using distributed high throughput computing workflows on the OSG. 
Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>

<p>
  <a href="http://software-carpentry.org">Software Carpentry</a>'s mission
  is to help scientists and engineers become more productive
  by teaching them basic lab skills for computing
  like program design, version control, data management, and task automation.
</p>

<p>
  This workshop is being run by the <a href="http://opensciencegrid.org/">OSG</a> and the <a href="http://hcc.unl.edu">Holland Computing Center</a>, in collaboration with <a href="http://software-carpentry.org">Software Carpentry</a>. 
</p>

</p>
  
<!-- This block displays the instructors' names if they are available. -->
{% if page.instructor %}
<p>
  <strong>Instructors:</strong>
  {{page.instructor | join: ', ' %}}
</p>
{% endif %}

<!-- This block displays the helpers' names if they are available. -->
{% if page.helper %}
<p>
  <strong>Helpers:</strong>
  {{page.helper | join: ', ' %}}
</p>
{% endif %}

<!--
    Modify this block to reflect the target audience for your bootcamp.
    In particular, if it is only open to people from a particular institution,
    or if specialized prerequisite knowledge is required, please mention that.
-->
<p>
  <strong>Who:</strong>
  The course is aimed at graduate students, post-doctoral researchers and other researchers.
</p>

<!--
    This block displays the address and links to a map showing directions.
-->
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{ page.address }}.
  Get directions with
  <a href="//www.openstreetmap.org/?mlat={{ page.latlng | replace:',','&mlon=' }}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{ page.latlng }}">Google Maps</a>.
</p>
{% endif %}

<!--
    Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requirements:</strong>
  Participants must bring a laptop with a few specific software packages installed
  (listed below).
</p>

<!--
    This block automatically inserts a contact email address if one has been specified for the page.
    If one hasn't, this block inserts the generic contact address for Software Carpentry.
-->
<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

{% if page.registration %}
<h2>Registration</h2>
<p>
Space is limited for the event. To register,  please <a href="{{page.registration}}"> visit here </a>.
</p>
{% endif %}

<hr/>

<h2>Schedule</h2>

<div class="row-fluid">
    <h4>Introduction to Unix and Version Control with Git</h4>
    <h4> Jan 6th, 8:30 AM - 4:30 PM</h4>
    <h5>Location: UNL City Campus - </h5>
    <h5>Instructor: Emelie</h5>
     <h4> </h4>
    <table class="table table-striped">
      <tr> <td>08:30 - 09:00 </td> <td> Set-up </td> </tr>
      <tr> <td>09:00 - 10:30 </td> <td><a href="http://swc-osg-workshop.github.io/2016-01-06-UNL/novice/shell/index.html" >Introduction to the Unix shell</a> - Emelie </td> </tr>
      <tr> <td>10:30 - 10:45</td> <td><em>Coffee break</em></td> </tr>
      <tr> <td>10:45 - 12:00 </td> <td><a href="http://swc-osg-workshop.github.io/2016-01-06-UNL/novice/shell/index.html" >Introduction to the Unix shell</a> (continued) - Emelie </td> </tr>
      <tr> <td>12:00 - 13:00</td> <td><em> Lunch Break </em></td> </tr>
      <tr> <td>13:00 - 14:30</td> <td><a href="http://swc-osg-workshop.github.io/2016-01-06-UNL/novice/git/index.html">Version control with Git</a> - Emelie </td> </tr>
      <tr> <td>14:30 - 14:45</td> <td><em>Coffee break</em></td> </tr>
      <tr> <td>14:45 - 16:30 </td> <td><a href="http://swc-osg-workshop.github.io/2016-01-06-UNL/novice/git/index.html">Version control with Git</a> (continued) - Emelie </td> </tr>
    </table>
     <h4> </h4>
</div>

<h2> </h2>
<div class="row-fluid">
    <h4>Programming with Python</h4>
    <h4>Jan 7th, 8:30 AM - 4:30 PM</h4>
    <h5>Location: Location: UNL City Campus - </h5>
    <h5>Instructor: Derek Weitzel </h5>
    <h3> </h3>
    <table class="table table-striped">
      <tr> <td>08:30 - 09:00</td> <td> Set-up </td> </tr>
      <tr> <td>09:00 - 10:30 </td> <td><a href="https://djw8605.github.io/python-novice-inflammation/"> Building programs with Python</a> (Part 1) - Derek</td> </tr>
      <tr> <td>10:30 - 10:45</td> <td><em>Coffee break</em></td> </tr>
      <tr> <td>10:45 - 12:00</td> <td><a href="https://djw8605.github.io/python-novice-inflammation/"> Building programs with Python</a> (Part 1, continued) - Derek</td> </tr>
      <tr> <td>12:00 - 13:00</td> <td><em> Lunch Break </em></td> </tr>      
      <tr> <td>13:00 - 14:30 </td> <td><a href="https://djw8605.github.io/python-novice-inflammation/">Building programs with Python</a> (Part 2) - Derek</td> </tr>
      <tr> <td>14:30 - 14:45</td> <td><em>Coffee break</em></td> </tr>
      <tr> <td>14:45 - 16:30</td> <td><a href="https://djw8605.github.io/python-novice-inflammation/">Building programs with Python</a> (Part 2, continued) - Derek</td> </tr>
    </table>
  </div>

<h2> </h2>
<div class="row-fluid">
    <h4> Basics of High Throughput Computing</h4>
    <h4> Jan 8th, 8:30 AM - 4:30 PM </h4>
    <h5>Location: UNL City Campus - </h5>
    <h5>Instructors: Emelie Harstad, Mats Rynge, Suchandra Thapa</h5>
     <h3> </h3>
    <table class="table table-striped">
      <tr> <td>08:30 - 09:00</td> <td> Set-up </td> </tr>
      <tr> <td>09:00 - 09:30 </td> <td> <a href="http://swc-osg-workshop.github.io/2016-01-06-UNL/novice/DHTC/01-IntroGrid.html">Introduction to OSG </a> - Emelie </td> </tr>
      <tr> <td>09:30 - 10:30 </td> <td><a href="http://swc-osg-workshop.github.io/2016-01-06-UNL/novice/DHTC/04-HTCondor-Submitting.html"> Job Scheduling with HTCondor</a> - Mats</td> </tr>
      <tr> <td>10:30 - 10:45</td> <td><em>Coffee break</em></td> </tr>
      <tr> <td>10:45 - 12:00 </td> <td><a href="http://swc-osg-workshop.github.io/2016-01-06-UNL/novice/DHTC/04a-ScalingUp.html"> Scaling Up Computing Resources (R and MATLAB runtime examples) </a> - Mats</td> </tr>
      <tr> <td>12:00 - 13:00 </td> <td><em>Lunch break</em></td></tr>
      <tr> <td>13:00 - 13:45 </td> <td><a href="http://swc-osg-workshop.github.io/2016-01-06-UNL/novice/DHTC/07-TroubleShooting.html"> Trouble Shooting Failed Jobs</a> - Suchandra</td> </tr>
      <tr> <td>13:45 - 14:45 </td> <td> <a href="http://swc-osg-workshop.github.io/2016-01-06-UNL/novice/DHTC/05-Stash.html">Handling Data</a> - Suchandra</td> </tr>
      <tr> <td>14:45 - 15:00</td><td><em>Coffee break</em></td></tr>
      <tr> <td>15:00 - 16:00</td> <td> <a href="http://swc-osg-workshop.github.io/2016-01-06-UNL/novice/DHTC/06-dagman-namd.html">Handling Job Dependencies - DAGMan </a> - Suchandra</td> </tr>
      <tr> <td>16:00 - 16:30</td> <td> <a href="http://swc-osg-workshop.github.io/2016-01-06-UNL/novice/DHTC/06a-pegasus-namd.html">Large Scale Computation with Pegasus</a> - Mats</td> </tr>
    </table>
  </div>
<hr/>

{% if page.etherpad %}
<p>
  <strong>Etherpad:</strong> <a href="{{page.etherpad}}">{{page.etherpad}}</a>.
  <br/>
  We will use this Etherpad for chatting, taking notes, and sharing URLs and bits of code.
</p>
{% endif %}

<!--
    Edit this block to show what topics will be covered.
-->

<h2>Setup Instructions </h2>
<p>
  <a href="setup.html">Instructions to set up the required software on Linux, Windows and Mac laptops and OSG sign up information. </a>
</p>
<hr/> 

<h2>Lessons</h2>
<p>
  <a href="contents.html">Course material for the workshop</a>. 
</p>
<hr/> 

<h2>Syllabus</h2>
<p>
  <a href="syllabus.html">Syllabus for the workshop</a>. 
</p>
<hr/> 


<!--
    Edit the setup instructions in _includes/setup.html to reflect your bootcamp.
    (In particular, most bootcamps teach either Python or R, not both.)
-->
